name: 'Security Checks'

on:
  workflow_call:
    inputs:
      semgrep_run:
        description: 'Whether to run Semgrep security scanner'
        required: false
        type: boolean
        default: true
      trufflehog_run:
        description: 'Whether to run TruffleHog secrets scanner'
        required: false
        type: boolean
        default: true

permissions:
  contents: read

jobs:
  sast:
    name: 'Semgrep (SAST)'
    runs-on: ubuntu-latest
    # yamllint disable-line rule:line-length
    if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]' && inputs.semgrep_run == true

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
        with:
          fetch-depth: 0

      - name: 'Check for changes'
        id: changes
        # yamllint disable rule:line-length
        run: |
          if [ -n "$(git diff --name-only "${{ github.event.repository.default_branch }}"...HEAD)" ]; then
            echo "has_changes=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_changes=false" >> "$GITHUB_OUTPUT"
          fi

      - name: 'Run Semgrep'
        if: steps.changes.outputs.has_changes == 'true'
        # yamllint disable rule:line-length
        run: |
          docker run --rm -v "$PWD:/src" -w /src returntocorp/semgrep semgrep ci --config=auto

  trufflehog:
    name: 'TruffleHog (Secrets Scanning)'
    runs-on: ubuntu-latest
    # yamllint disable-line rule:line-length
    if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]' && inputs.trufflehog_run == true

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
        with:
          fetch-depth: 0

      - name: 'Check for changes'
        id: changes
        # yamllint disable rule:line-length
        run: |
          if [ -n "$(git diff --name-only "${{ github.event.repository.default_branch }}"...HEAD)" ]; then
            echo "has_changes=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_changes=false" >> "$GITHUB_OUTPUT"
          fi

      - name: 'Run TruffleHog'
        if: steps.changes.outputs.has_changes == 'true'
        # yamllint disable-line rule:line-length
        uses: trufflesecurity/trufflehog@58222610ff8ff7a3069d2422276bf28ad52a743f
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          extra_args: --exclude-paths=.truffleignore --only-verified
